<!DOCTYPE html>
<html lang="id">
    <%- include('components/head') %>
<body>
<div class="banner-section-outer">
    <%- include('components/header') %>
    <%- include('components/hero') %>
</div>
<section class="trading_auctions-section">
    <div class="container">
        <%- include('components/count') %>
        <%- include('components/contribution') %>
    </div>
</section>
<%- include('components/subdomain') %>
<%- include('components/members') %>
<%- include('components/api') %>
<%- include('components/subscription') %>
<%- include('components/stack') %>
<%- include('components/footer') %>
<%- include('components/script') %>
</body>
</html>